@each $type in $list-style-types  {
  .list-style-#{$type} {
    list-style: $type;
  }
}

@each $type in $cursor-types  {
  .cursor-#{$type} {
    cursor: $type !important;
  }
}


.flex-center {
  align-items: center;
  justify-content: center;
}